// COLORS
$black: #1F1F1F;

$gray-400: #666;
$gray-600: #333;
$gray-800: #111;

$white: #ffffff;

// BOX SHADOWS
$boxshadow-light: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$boxshadow-dark: rgba(0, 0, 0, 0.35) 0px 5px 15px;

// BORDER RADIUS
$radius: 1rem;
$radiusOnTop: $radius $radius 0 0;

$gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
// FONTS
$main-font: 'Poppins', sans-serif;