@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
// @import 'npm:normalize.css/normalize.css';
@import 'src/scss/conf';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// General styles
html {
    font-size: 62.5%;
    height: -webkit-fill-available;
}

body {
    background-color: $gray-800;
    font-family: $main-font;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

// Common Classes
.heading {
    font-size: 3rem;
    text-transform: uppercase;
    color: $white;
}

.dark-bg {
    position: absolute;
    background-color: rgba($color: $black, $alpha: .9);
    height: calc(100% - 55px);
    width: 100%;
    transition: background-color .2s ease-in-out;
}

// Header
.header {
    z-index: 1;
    
    .nav {
        width: 100%;
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        background-color: $gray-600;
    
        & i {
            color: $white;
            font-size: 2rem;
            margin-right: 1rem;
            cursor: pointer;
        }
    
        &__logo-wrapper {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    
        &__logo {
            width: 3.5rem;
            margin-right: 1rem;
        }
    
        &__title {
            color: $white;
            font-size: 2rem;
            font-weight: 400;
            letter-spacing: .1rem;
        }
    }
    
    .navbar {
        z-index: inherit;
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: absolute;
        height: calc(100% - 55px);
        left: -20rem;
        width: 20rem;
        background-color: $gray-600;
        transition: left .2s ease-in-out;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.24);
    }

    .navbar.toggle {
        left: 0;   
    }

}

// Main Content
.main {
    padding: 2rem;
    height: 100%;
}

.welcome__section {
    height: 100%;
}
    
.welcome__container {
    padding: 6rem 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: $gray-400;
}